.custom-button {
  min-width: 165px;
  width: auto;
  height: 40px;
  letter-spacing: 0.5px;

  padding: 0 35px 0 35px;
  font-size: 0.8em;
  background-color: black;
  color: white;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.custom-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.custom-button.google-sign-in {
  background-color: #ee605f;
  color: white;
}

.custom-button.google-sign-in:hover {
  background-color: #f3a5a4;
  color: #ec4948;
  border: none;
}
