:root {
  --sub-color: grey;
  --main-color: black;
  --main-red: #ee605f;
}

.group {
  position: relative;
  margin: 45px 0;
}

.group .form-input {
  background: none;
  background-color: white;
  color: var(--sub-color);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;

  border-bottom: 1px solid var(--sub-color);
  margin: 25px 0;
}

.group .form-input:focus {
  outline: none;
  border-color: var(--main-red);
}

.group .form-input:focus ~ .form-input-label {
  top: -9px;
  font-size: 12px;
  color: var(--main-red);
}

.group .form-input-label {
  color: var(--sub-color);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
  background-color: white;
  padding: 0 5px;
}

.group .form-input-label.shrink {
  top: -9px;
  font-size: 12px;
  color: var(--main-color);
}
